<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tim Bernhard</title>

    <link rel="stylesheet" href="../styles/mainstyle.css">

</head>

<body>
    <!--Header-->
    <header>
        <img src="../pics/TimBer Logo transp.png" alt="Profilbild" class="profilbild">
        <nav class="navbar">
            <a href="index.html">Home</a>
            <a href="mylife.html">My Life</a>
            <a href="projects.html">Projects</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>

    <!--Body-->
    <div class="body-container">
        <div class="topindex">
            <h1>Tim Bernhard</h1>

            <div class="personallinks">
                <a href="https://github.com/th3gumm3l"> <img src="../pics/GitHub-Mark.png" alt="GitHub Link"> </a>
                <a href="https://www.linkedin.com/in/tim-bernhard-5a4b7422a/"> <img src="../pics/linkedin logo.png" alt="Linked In Link"> </a>
                <a href="https://unsplash.com/@gummelproductions"> <img src="../pics/Unsplash-Logo.png" alt="Unsplash-Logo"> </a>
                <a href="https://beatloops.jimdofree.com/"> <img src="../pics/insta_w_4.jpg" alt="BeatLoops Pic"> </a>
            </div>
        </div>

        <div class="middleindex">

        </div>

    </div>

    <!--Footer-->
    <footer>

    </footer>

</body>

</html>