<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Life</title>
    <link rel="stylesheet" href="../styles/mainstyle.css">

</head>
<body>
    <!--Header-->
    <header>
        <img src="../pics/TimBer Logo transp.png" alt="Profilbild" class="profilbild">
        <nav class="navbar">
            <a href="index.html">_Home</a>
            <a class="linkindex" href="mylife.html">My Life</a>
            <a href="projects.html">_Projects</a>
            <a href="contact.html">_Contact</a>
        </nav>
    </header>

    <!--Body-->
    <div class="body-container">

    </div>


</body>
</html>