$textcolor: lightgrey;
$textcolorhover: white;

* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;

    img {
        width: 6rem;
        height: 6rem;
        margin: 1.5rem 0 0 1.5rem;
    }

    nav {
        margin-right: 3rem;
    }

    a {
        text-decoration: none;
        margin-right: 3rem;
        color: $textcolor;
        font-size: 2rem;
        font-weight: bold;
    }

    a:hover {
        color: $textcolorhover;
    }

    .linkindex {
        color: rgb(71, 202, 202);
    }
}

.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../pics/tim-bernhard-oI37gD363wk-unsplash.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    
    .topindex {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        h1 {
            font-size: 8rem;
            color: rgba(23,32,45,255);
            text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        }
    
        .personallinks {    
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 50%;
            margin-top: 1rem;
            a {
                img {
                    width: 5rem;
                }
            }
        }

    }

    .middleindex {
        height: 100vh;

        margin-top: 5rem;
        
        h1 {
            color: white;
        }
    }


}

